<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>NoChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function ChatController($scope) {
        var socket = io.connect();

        $scope.messages = [];
        $scope.roster = [];
        $scope.nick = 'Loser';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setNick();
        });

        socket.on('privmsg', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
        });

        socket.on('roster', function (nicks) {
          $scope.roster = nicks;
          $scope.$apply();
        });
        
        socket.on('topic', function(topic) {
          $scope.messages.push({nick: 'Server', text: topic.nick + ' changed topic to: ' + topic.text});
          $scope.topic = topic.text;
          $scope.$apply();
        });

        $scope.send = function send() {
          // decide if command or message
          if ($scope.text.charAt(0) === '/') {
            var parms = $scope.text.split(' ');
            var command = parms.splice(0,1).toString().replace('/','');

            if (jQuery.isEmptyObject(parms))
              parms = '';
            else
              parms = parms.join(' ');
              
            socket.emit(command, parms);
          } else {
            socket.emit('privmsg', $scope.text);  
          }

          $scope.text = '';
        };

        $scope.setNick = function setNick() {
          socket.emit('nick', $scope.nick);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://nvn.io" class="brand">nvn</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1><span ng-bind="topic"></span></h1>
      </div>
      <div class="row">
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2">&lt;<span ng-bind="msg.nick"></span>&gt;&nbsp;<span ng-bind="msg.text"></span></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Local Users</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
        </div>        
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
